/* GLOBAL */

body {
  font-family: sans-serif;
  font-weight: bold;
  background-color: #86BBD8;
  color: #FFFFFF;
  font-family:"bodyfont";
}

@font-face {
	font-family: "bodyfont";
	src: url('Infinity.ttf') format("truetype");
}

@font-face {
  font-family: "header";
	src: url('REIS- regular.ttf') format("truetype");
}

a:link {
  color: #FFFFFF;
}

a:visited {
  color: #BBCDE5;
}

header {
  max-width: 700px;
  margin: 0 auto;
  font-size: 200%;
  background-color: #1C5D99;
  border: 2px solid white;
  padding: 0 0 20px 0;
  border-radius: 5px;
}

h1 {
  font-family: "header";
  text-align: center;
  margin: 0.2em 0;
  font-size: 3em;
}

nav {
  text-align: center;
}

nav a {
  padding: 0 5px;
}

/* FEED */

.feed {
  max-width: 600px;
  margin: 40px auto;
}

.listing {
  margin: 10px 0;
  border-radius: 20px;
  border: 2px solid white;
  overflow: hidden;
  background-color: #1C5D99;
}

.listing-image {
  width: 100px;
  height: 100px;
  background-color: white;
  float: left;
}

.listing-image img {
  height: 100%;
  width: 100%;
}

.listing-info {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  float: left;
  padding: 0 0 0 20px;
  width: calc(100% - 100px);
}

.listing-info h2 {
  font-family: "header";
  margin: 0.5em 0;
}

.listing-info .description {

}

.listing-info .distance {
  padding: 0;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.create {
  width: 600px;
  margin: 0 auto;
}

.create label {
  display: block;
  font-size: 1.5em;
}

.create input {
  display: block;
}

.create .form-textbox {
  margin: 15px 0;
}

.create h2 {
  margin: 0 0;
}

.individual-listing {
  width: 600px;
  margin: 0 auto;
}

.individual-listing .listing-container {
  margin: 15px 0;
}

.individual-listing label {
  display: block;
  font-size: 1.5em;
}

.individual-listing .listing-image {
  width: 300px;
  height: 300px;
  float: right;
}

.question {
  display: block;
  font-size: 1.5em;
}

.answer {
  display: block;
  margin-bottom: 15px;
}

.faq-page {
  width: 600px;
  margin: 0 auto;
}

.landing {
  text-align: center;
  font-size: 3em;
}
