/* GLOBAL */

body {
  font-family: sans-serif;
}

header {
  max-width: 700px;
  margin: 0 auto;
}

header h1 {
  text-align: center;
}

nav {
  text-align: center;
}

nav a {
  padding: 0 5px;
}

/* FEED */

.feed {
  max-width: 600px;
  margin: 40px auto;
}

.listing {
  margin: 10px 0;
  border-radius: 6px;
  border: 2px solid lightgrey;
  overflow: hidden;
}

.listing-image {
  width: 100px;
  height: 100px;
  background-color: lightgrey;
  float: left;
  border-radius: 5px;
}

.listing-info {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  float: left;
  padding: 0 0 0 20px;
  width: calc(100% - 100px);
}

.listing-info h2 {
  margin: 0.5em 0;
}

.listing-info .description {

}

.listing-info .distance {
  padding: 0;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
