
<form onsubmit={{action "submit"}}>
  <label>what are you selling?</label>
  <input type="text" name="title"><br>

  <label>how much are you selling for?</label>
  <input type="text" name="price"><br>

  <label>item description</label>
  <input type="text" name="description"><br>

  <h2>contact info</h2>
  name: <input type="text" name="sellername"><br>
  phone #: <input type="text" name="number"><br>
  <button type="submit">submit</button>
</form>

{{outlet}}
