what are you selling?
<input type="text" name="itemname"><br>

how much are you selling for?
<input type="text" name="price"><br>

item description
<input type="text" name="description"><br>

<h2>contact info</h2>
name: <input type="text" name="sellername"><br>
phone #: <input type="text" name="number"><br>

<form onsubmit={{action "submit"}}>
  <button type="submit">submit</button>
</form>

{{outlet}}
