<h2>FAQ</h2>

Q: what is nibble?
we're a website built by students for students.
we understand that the student schedule is already
hectic enough without having to worry about food--
so we set about coming up with a solution.
have trouble cooking for just one person?
cook for several people, then set up your listing.
tired of eating junk and miss homecooked food?
browse the available selection of home-y foods,
made fresh and just for you.

Q: how do i set up a listing?
just provide your dish name, a description, and contact info!
if people will interested, they can send you a text/email.
your listing will expire in 24hrs to ensure fresh food for all.

Q: how do i buy a listing?
if interested in an item, click on it to be taken to the listing.
from there, you can learn more and get seller contact info.

Q: how does payment work?
the buyer and seller work together to figure out payment--
no third parties involved!

{{outlet}}
